{
  "extends": ["@antfu/eslint-config-ts"],
  "rules": {
    "no-console": "off",
    "no-new-func": "off",
    "no-restricted-syntax": "off",
    "no-template-curly-in-string": "off",
    "@typescript-eslint/no-var-requires": "off",
    "array-callback-return": "off",
    "prefer-regex-literals": "off"
  }
}
